.new_product{
    width: 100%;
}
.new_product .navi{
    padding: 20px 0;
}
.new_product .navi span{
    margin: 0 10px;
    color: #777;
}
.new_product .navi em a{
    font-size: 14px;
    font-weight: 400;
    color: #1d1f22;
}
.new_product dl.left_np{
    width: 220px;
    float: left;
}
.new_product dl.left_np dt{
    color: #1d1f22;
    font-size: 24px;
    line-height: 1.3;
    padding-bottom: 8px;
    border-bottom: 1px solid #1d1f22;
    font-weight: 700;
}
.new_product dl.left_np dd{
    margin: 10px 0;
    color: #777;
}
.new_product .right_np{
    width: 920px;
    float: right;
}
.new_product .right_np .tit{
    width: 100%;
    height: 21px;
    line-height: 21px;
}
.new_product .right_np .tit .num{
    float: left;
}
.new_product .right_np .tit .down_all{
    float: right;
}
.new_product .right_np .tit .down_all div{
    width: 120px;
    float: left;
    margin-left: 10px;
}
.new_product .right_np .tit .down_all div i{float: right;}
.new_product .right_np ul{
    margin: 15px;
    text-align: center;
}
.new_product .right_np ul li{
    float: left;
    margin-bottom: 50px;
}
.new_product .right_np ul li:nth-child(3n-1){
    margin-left: 10px;
    margin-right: 10px;
}
.new_product .right_np ul li img{
    margin-bottom: 10px;
    transition: all 0.6s;
}
.new_product .right_np ul li:hover img{
    background: rgba(1,1,1,0.1);
}
.new_product .right_np ul li p{
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: 400;
}
.new_product .right_np ul li em{
    display: block;
    font-size: 14px;
    color: #8b8b8b;
    font-weight: 300;
    margin-bottom: 10px;
}
.new_product .right_np ul li span{
    font-size: 14px;
    font-weight: 400;
    color: #1d1f22;
}
.new_product .right_np ol{
    width: 120px;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 14px;
}
.new_product .right_np ol li{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
}
.new_product .right_np ol li.on{
    color: #1d1f22;
    font-weight: 500;
}